{% extends 'mzInventoryBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Settings
{% endblock %}

{% block page_title %} Settings {% endblock %}

{% block content %}
    <div class="well">
        <form action="{{ path('settings_create', {'className': entity.className|lower}) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <a class="btn" href="{{ path('settings_index') }}"> Cancel</a>
                <button type="submit" class="btn btn-primary"><i class="icon-save"> </i> Save</button>
            </p>
        </form>
    </div>
{% endblock %}
